.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #879ce9
}

contact h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

contact h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

contact p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #666;
}

form {
    max-width: 600px;
    width: 100%;
    background: #f9f9f9;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    margin: 25px;

}

form h2 {
    font-size: 30px;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

.input-box .field {
    width: 100%;
    height:
}